.bubble-border-products {
    position: absolute;
    width: 180px !important;
    height: 180px !important;
}

#products-bubbles {
    width: 150px;
    height: 150px;
    margin-top: 100px
}