.product-writing {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  border: 1px solid var(--main-bg-color);
  padding: 20px;
  background-color: var(--main-white);
  text-align: left;
}



.product-container-info {
  height: 400px;
  border: 1px solid red;
  padding: 20px;
  background-color: var(--main-white);
  text-align: left;
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.main-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

}

.product-container {

  padding-left: 100px !important;
  padding-right: 100px !important;
}

.back-btn {
  padding-top: 150px;
}

@media (max-width: 375px) {

  .back-btn {
    padding-top: 10px;
  }

  .product-container {
    margin-top: 20em;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .product-container-info {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .product-container-info {
    margin-top: 20px;
  }

  .back-btn {
    padding-top: 10px;
  }

  .product-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

}