.artist-name {
  height: 100px;
}

.artist-info {
  max-height: 250px;
  word-wrap: break-word;
  white-space: wrap;
}


.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}