.product-writing {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  border: 1px solid var(--main-bg-color);
  padding: 20px;
  background-color: var(--main-white);
  text-align: left;
}

.product-container-info {
  height: 400px;
  width: 100%;
  border: 1px solid var(--main-bg-color);
  padding: 20px;
  background-color: var(--main-white);
  text-align: left;
  overflow: auto;
}

.container-product {
  padding-left: 0 !important;
  padding-right: 0 !important;
  flex-direction: column;
  /* display: block; */
}

.product-container {
  display: block;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.product-row {
  width: 100% !important;
}

.back-btn {
  padding-top: 20px;
}


@media only screen and (max-width: 768px) {
  .product-container-info {
    margin-top: 20px;
  }

  .back-btn {
    padding-top: 10px;
  }

  .product-container {
    padding-left: 10% !important;
    padding-right: 10% !important;

  }

  .container-product {
    display: block;
    padding-top: 10em;
  }

}