.container-fluid {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blue {
    width: 150px;
    height: 150px;
    border: none;

}

#orange {
    width: 150px;
    height: 150px;
    border: none;
    margin-top: 10em;
}

#yellow {
    width: 150px;
    height: 150px;
    border: none;

}





@media only screen and (max-width: 768px) {
    #blue {
        padding: 0;
        margin-top: 0px;
    }

    #orange {
        margin-top: 0em;
    }

    .categories {
        padding-top: 8rem;
    }

    #yellow {
        margin-left: 5em;

    }
}