.artists-main-categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 110vh;
}



#blue {
    width: 150px;
    height: 150px;
    border: none;

}

#orange {
    width: 150px;
    height: 150px;
    border: none;
    margin-top: 15em;
}

#yellow {
    width: 150px;
    height: 150px;
    border: none;

}

.bubble-border {
    position: absolute;
}

@media (max-width: 767px) {
    #blue {
        padding: 0;
        margin-top: 0px;
    }

    #orange {
        margin-top: 0em;
    }
}

.section-line-categories {
    width: 100%;
    height: 0.5vh;
    background-color: var(--main-bg-color);
    margin-top: 50px;
}