.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.h1-over-the-line {
  background-color: var(--main-bg-color);
  width: 100%;
  text-align: center;
  padding: 10px;
  color: var(--main-white);
  padding-bottom: 2px;
}

.h1-over-the-line:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.h1-link {
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.h1-link:hover {
  width: 100%;
  text-decoration: none;
}

.text h1 {
  color: var(--main-white);
  padding-top: 12px;
}
