.back-to-top {
    margin-top: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--main-bg-color);
    background-color: #c0332c;
    cursor: pointer;
}

.back-to-top:hover {
    background-color: var(--main-bg-color);
}

.bubble-border-back {
    position: absolute;
    width: 120px !important;
}