.back-to-top {
    margin-top: 20px;
    border: none;
    background-color: var(--main-bg-color);
    color: var(--main-white);
    padding-bottom: 1px;
    text-decoration: none !important;
    cursor: pointer;
}

.back-to-top:hover {
    background-color: var(--main-white);
    color: var(--main-black);
}