.navbar-bg-color {
  background-color: var(--main-bg-color);
  transition: ease-in-out 0.5s;
  z-index: 1;
  padding: 0 !important
}

.main-white {
  color: var(--main-bg-color);
}

#logo {
  margin-left: 30px;
}

.heart path {
  fill: var(--main-bg-color);
}

.heartScroll path {
  fill: var(--main-white);
}

.donate-link-red {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-black);
  padding: 2px;
  font-size: 23px;
  padding: 0px !important;
  margin-right: 30px;
}




.donate-link-white {
  color: var(--main-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: 23px;
  margin-right: 30px;
}


.donate-link-red a {
  color: var(--main-bg-color);
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 2px;
}

.donate-link-red a:hover {
  color: var(--main-bg-color);
  transform: scale(1.1);
  text-decoration: none;

}

.donate-link-white a {
  color: var(--main-white);
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none;
  padding-bottom: 2px;
}



.text-scroll h1 {
  padding-top: 15px;
  color: var(--main-white) !important;
}

.donate-link-white a:hover {
  color: var(--main-white);
  transform: scale(1.1);
  text-decoration: none;
}

.navbar {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;

}

@media(max-width: 375px) {
  .navbar-bg-color {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .navbar {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text h1 {
    color: var(--main-bg-color) !important;
  }

  .text-scroll h1 {
    padding-top: 15px;
    font-size: 24px;
    color: var(--main-white);
  }

  .logo {
    width: 80px;
    height: 50px;
    margin-left: 0px;
  }

  .donate-link-red {
    margin-right: 0px;
  }

  .donate-link-white {
    margin-right: 0px;
  }
}