.navbar-bg-color {
  background-color: var(--main-bg-color);
  transition: ease-in-out 0.5s;
  z-index: 1;
  padding: 0 !important
}

.main-white {
  color: var(--main-white);
}

#logo {
  margin: 0;
}



.heart path {
  fill: var(--main-bg-color);
}

.heartScroll path {
  fill: var(--main-white);
}

.donate-link-red {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-black);
  padding: 2px;
  font-size: 23px;
  padding: 0px !important;
}




.donate-link-white {
  color: var(--main-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: 23px;
}


.donate-link-red a {
  color: var(--main-bg-color);
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 2px;
}

.donate-link-red a:hover {
  color: var(--main-bg-color);
  transform: scale(1.1);
  text-decoration: none;

}

.donate-link-white a {
  color: var(--main-white);
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none;
  padding-bottom: 2px;
}


.donate-link-white a:hover {
  color: var(--main-white);
  transform: scale(1.1);
  text-decoration: none;
}