@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;800&display=swap");

:root {
  --main-bg-color: #e8332c;
  --main-white: #fff;
  --main-black: #000;
  --main-blue: #48b2d7;
  --main-yellow: #ffff00;
  --main-orange: #f17517;

}

.App {
  text-align: center;
}

#no-bootstrap {
  font-family: "Baloo Tamma 2", cursive;
}

/* multiple-artist page */

.element {
  background-image: url("./assets/bg-over-the-line.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.artists-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.artists-main-product {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* bubbles */
.bubbles-link-artists {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-black);
  font-size: 1.3rem;
  cursor: pointer;
  padding: 20px;
  text-align: center;
  font-weight: 600;
}

.bubbles-link-artists:hover {
  transform: scale(1.1);
  text-decoration: none;
  transition: ease-in-out 0.2s;
  color: var(--main-black);
}

.yellow,
.blue,
.orange {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: shake 10s;
  animation-iteration-count: infinite;
}

.yellow:hover,
.blue:hover,
.orange:hover {
  animation: none;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
}

.blue {
  background-color: var(--main-blue);
}

.orange {
  background-color: var(--main-orange);
}

.yellow {
  background-color: var(--main-yellow);
}

.section-line {
  width: 100%;
  height: 0.5vh;
  background-color: var(--main-bg-color);
}


@media(max-width: 375px) {
  .element {
    padding-top: 30px;
  }

  .yellow,
  .blue,
  .orange {
    width: 90px;
    height: 90px;

  }

  .section-line {
    display: none;
  }


}