:root {
  --main-bg-color: #d73919;
  --main-white: #fff;
  --main-black: #000;
}

/* homepage */
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.h1-over-the-line {
  background-color: var(--main-bg-color);
  width: 100%;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: var(--main-black);
}

.h1-link {
  width: 100%;
  text-decoration-line: none;
}

.h1-over-the-line:hover {
  text-decoration: none;
  color: var(--main-black);
  transform: scale(1.1);
  transition-duration: 0.5s;
}

/* navbar */

.navbar-bg-color {
  background-color: var(--main-bg-color);
}

.main-white {
  color: var(--main-white);
}

#logo {
  margin: 0;
}

.logo {
  border: solid white;
}

/* multiple-artist page */

.element {
  margin-top: 100px;
  height: 100vh;
}

.artists-main {
  height: 80vh;
  display: flex;

  align-items: center;
  justify-content: center;
}

/* bubbles */
.bubbles-link-artists {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-black);
  cursor: pointer;
  padding: 20px;
}

.bubbles-link-artists:hover {
  transform: scale(1.1);
}

.yellow {
  background-color: yellow;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  background-color: blue;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange {
  background-color: orange;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  single artist page
*/

.section-line {
  width: 100%;
  height: 5vh;
  background-color: var(--main-bg-color);
}
